In [2]:
from src.network import ClassificationNetwork
from src.imitations import load_imitations

import torch
import pandas as pd
import numpy as np

In [7]:
obs, actions = load_imitations(r"dat/teacher/")

preloading dat 0/738
preloading dat 73/738
preloading dat 146/738
preloading dat 219/738
preloading dat 292/738
preloading dat 365/738
preloading dat 438/738
preloading dat 511/738
preloading dat 584/738
preloading dat 657/738
preloading dat 730/738

In [10]:
import pandas as pd
df = pd.DataFrame(actions)

In [11]:
classes = []
for action in actions:
    c = [0]*4
    if action[0] < 0:
        c[0] = 1
    if action[0] > 0:
        c[1]=1
    if action[1] > 0:
        c[2] = 1
    if action[2] > 0:
        c[3] = 1
    classes.append(c)

                0           1      2
count  739.000000  739.000000  739.0
mean    -0.083897    0.096752    0.0
std      0.492214    0.197656    0.0
min     -1.000000    0.000000    0.0
25%      0.000000    0.000000    0.0
50%      0.000000    0.000000    0.0
75%      0.000000    0.000000    0.0
max      1.000000    0.500000    0.0