In [6]:
from src.network import ClassificationNetwork
from src.imitations import load_imitations

import torch
import pandas as pd
import numpy as np

In [7]:
DATA_PATH = r"dat\teacher"
observations, actions = load_imitations(DATA_PATH)

preloading dat 0/598
preloading dat 59/598
preloading dat 118/598
preloading dat 177/598
preloading dat 236/598
preloading dat 295/598
preloading dat 354/598
preloading dat 413/598
preloading dat 472/598
preloading dat 531/598
preloading dat 590/598

In [8]:
model = ClassificationNetwork()

In [9]:
scores = model.actions_to_classes(actions)
model.scores_to_action(scores)

(0.0, 0.5, 0.0)

In [12]:
df = pd.DataFrame(model.actions_to_classes(actions))
df = df.applymap(int)

In [15]:
df.apply(lambda x: x.value_counts())

     0    1    2    3    4    5    6    7    8
0  552  507  562  218  598  578  590  589  598
1   47   92   37  381    1   21    9   10    1

In [17]:
model.classes

array([[ 0. ,  0. ,  0. ],
       [-1. ,  0. ,  0. ],
       [ 1. ,  0. ,  0. ],
       [ 0. ,  0.5,  0. ],
       [ 0. ,  0. ,  0.8],
       [-1. ,  0.5,  0. ],
       [ 1. ,  0.5,  0. ],
       [-1. ,  0. ,  0.8],
       [ 1. ,  0. ,  0.8]])

In [18]:
 "observation %05d.npy" %(4 )

'observation 00004.npy'

In [31]:
import os
directory = ".\\"
trained_network_file = os.path.join(directory, r'..\dat\train.t7')
imitations_folder = os.path.join(directory, r'..\dat\teacher')

In [32]:
os.path.join(imitations_folder, 'count.npy')

'.\\..\\dat\\teacher\\count.npy'

In [33]:
import numpy as np

In [52]:
np.load('dat/teacher/count.npy')

array(957)

In [41]:
np.save('dat/teacher/count.npy', 0)

In [51]:
np.array([[1,2],[3,4]]).reshape(2,-1)

array([[1, 2],
       [3, 4]])